doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title list
    body 
        h1 
            a(href='/topic') Server Side JavaScript 
        ul 
            each topic in topics
                li
                    - rid = encodeURIComponent(topic['@rid'])   //rid = #22:0의 특수기호를 치환
                    a(href='/topic/'+rid)= topic.title
        article
            if topic
                h2= topic.title
                = topic.description
                div= 'by ' + topic.author
            else 
                h2 Welcome 
                | This is server side javascript tutorial.

        br
        a(href='/topic/add') add
        &nbsp;
        if topic
            - rid = encodeURIComponent(topic['@rid'])
            a(href='/topic/' + rid + '/edit') edit
            &nbsp;
            a(href='/topic/' + rid + '/delete') delete
            &nbsp;