doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title list
    body 
        h1 
            a(href='/topic') Server Side JavaScript 
        ul 
            each topic in topics
                li
                    a(href='/topic/' + topic.id)= topic.title
        article
            if topic
                h2= topic.title
                = topic.description
            else 
                h2 Welcome
                | This is server side javascript tutorial.
        br
        a(href='/topic/add') add<br>
        if topic 
            a(href='/topic/' + topic.id + '/edit') edit<br>
            a(href='/topic/' + topic.id + '/delete') delete  